@font-face {
  font-family: "Roboto";
  src: url(/font/Roboto-Black.ttf);
  font-family: 'Shrikhand';
  src: url(/font/Shrikhand-Regular.ttf);
}

.block_page {
  font-family: "Roboto";
  color: #000;
  font-size: 15px;
}

@media (max-width: 599px) {
  .header--nav__btn-explorer {
    border: 1px solid white;
    width: 50%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 20px;
    padding: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(90%, #9356DC));
    background: linear-gradient(#FF79DA, #9356DC 90%);
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
  }
  .header--nav__btn-explorer:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .header--nav__btn-explorer > a {
    color: white;
    text-decoration: none;
    font-family: "Roboto";
  }
}

@media (max-width: 599px) {
  .proj-prev__btn-vert {
    width: 20%;
    margin: 10px;
    margin-left: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    background-color: #99E2D0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 599px) {
  .section__btn-commander {
    border: 1px solid white;
    width: 50%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 20px;
    padding: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(90%, #9356DC));
    background: linear-gradient(#FF79DA, #9356DC 90%);
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
  }
  .section__btn-commander:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .section__btn-commander > a {
    color: #fff;
    text-decoration: none;
    font-family: "Roboto";
  }
}

.header {
  font-family: "Roboto";
}

@media (max-width: 599px) {
  .header {
    margin: auto;
  }
  .header--nav {
    width: 100%;
    height: 150px;
    margin-left: auto;
    background-color: #f2f2f2;
  }
  .header--nav__p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .header--nav__heading {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    width: 100%;
    height: 30%;
    margin: 0 auto;
  }
  .header__logo > a .fa-arrow-left {
    font-size: 20px;
  }
  .header__logo__img {
    width: 50%;
    height: 30px;
    margin: auto;
  }
}

@media (max-width: 599px) {
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_img {
    width: 100%;
    margin: auto;
  }
  .header_img_heading {
    font-family: "Shrikhand";
    font-size: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 96.5%;
    height: 54px;
    position: absolute;
    margin-top: -50px;
    padding-top: 16px;
    background-color: #f2f2f2;
    border-radius: 36px 36px 0px 0px;
  }
  .header_img_heading > .fa-heart {
    font-weight: 400;
  }
  .header_img_heading > .fa-heart:hover {
    font-weight: 900;
    color: #9356DC;
  }
  .header--img {
    width: 100%;
    height: 300px;
  }
}

.footer {
  background-color: #000;
}

@media (max-width: 599px) {
  .footer__heading {
    width: 30%;
    margin-top: 10px;
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .footer__ul {
    list-style: none;
  }
  .footer__ul__link--a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
  }
}

@media (max-width: 599px) {
  .nav__ul {
    width: 100%;
    padding: 0px;
    list-style: none;
    margin-top: 20px;
  }
  .nav__ul__heading {
    font-size: 25px;
  }
  .nav__ul__link {
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 15px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
  }
  .nav__ul__link:hover {
    background-color: #d6f2fbb5;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .nav__ul__link:hover .fas {
    color: #9356DC;
  }
  .nav__ul__link--a {
    text-decoration: none;
  }
  .nav__ul__link--a > .fas {
    margin-left: 30px;
    color: #d8d5d5;
  }
  .nav__ul__link--a--span {
    margin-left: -6%;
    border: 1px solid #9356DC;
    border-radius: 50%;
    padding: 0 6px;
    color: #fff;
    font-size: 19px;
    background-color: #9356DC;
  }
  .nav__ul__link--a--span__strong {
    margin-left: 60px;
    color: #000;
    font-size: 15px;
  }
}

.container {
  background-color: #f2f2f2;
  padding: 10px;
}

.container__heading {
  font-size: 25px;
  font-family: "Roboto";
  color: #000;
}

@media (max-width: 599px) {
  .container .proj-prev {
    width: 80%;
    height: 210px;
    margin: auto;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px 20px;
    background-color: #fff;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
  }
  .container .proj-prev:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .container .proj-prev__a {
    text-decoration: none;
  }
  .container .proj-prev__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
  }
  .container .proj-prev__txt {
    width: 90%;
    height: 60px;
    margin: 10px;
    color: #000;
  }
  .container .proj-prev__txt .p {
    margin-top: -15px;
  }
  .container .proj-prev__txt .fa-heart {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: auto;
    font-weight: 400;
  }
  .container .proj-prev__txt .fa-heart:hover {
    color: #9356DC;
    font-weight: 900;
  }
}

.section {
  background-color: #f2f2f2;
}

@media (max-width: 599px) {
  .section__list {
    padding: 0px;
  }
  .section__list__heading {
    margin-left: 10px;
    border-bottom: 2px solid #99E2D0;
    width: 9%;
  }
  .section__list__link {
    background-color: #fff;
    width: 90%;
    margin: auto;
    display: inherit;
    border-radius: 20px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin-bottom: 15px;
  }
  .section__list__link > a {
    text-decoration: none;
    color: #000;
  }
  .section__list__link-type {
    margin: 0px;
    font-size: 15px;
  }
  .section__list__link-type--span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: -20px;
  }
}

@media (max-width: 599px) {
  .form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 30px;
    background-color: #80808057;
    -webkit-box-shadow: -3px 0px 19px -5px black;
            box-shadow: -3px 0px 19px -5px black;
  }
  .form .nav_search {
    background: #80808000;
    border: 0px;
  }
  .form .fa-map-marker-alt {
    margin-top: 7px;
  }
}
/*# sourceMappingURL=style.css.map */