
.chargament{
    @include chargament;
    &__img{
      width: 80%;
      object-fit: cover;
    }
        &>.lds-ellipsis {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
          }
         &>.lds-ellipsis div {
            position: absolute;
            top: 33px;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: linear-gradient($color-secondary, $color-primary 90%);
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
          }
          &>.lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
          }
          &>.lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
          }
          &>.lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
          }
         &>.lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
          }
     }

.container{
    background-color: $color-background;
    padding: 10px;
    padding-bottom: 30px;

    &__heading{
      font-size: $font-size-heading-1200px;
      font-family: $font-primary;
      color: $color-black;
      margin-bottom: 10px;
      margin-left: 11px;
      @media (max-width: 599px){
          font-size: $font-size-heading;
      }
  }

    .block-1{
      display: flex;
      width: 100%;
      @media (max-width: 599px){
          display: inline-block;
          width: 100%;
      }
    }
    .block-2{
      display: flex;
      width: 100%;
      @media (max-width: 599px){
          display: inline-block;
          width: 100%;
      }
    }
    .proj-prev{
      @include cards-1200px;
      &:hover{
          transform: scale(1.05);
      }
      &__a{
          text-decoration: none;
      }
      &__img{
          object-fit: cover;
          width: 100%;
          height: 150px;
          border-radius: $size $size 0px 0px;
      }
      &__txt{
          width: 90%;
          height: 60px;
          margin: 10px;
          margin-left: 20px;
          color: $color-black;
          .p{
              margin-top: -10px;
          }
          .heart{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        .fa-heart{
            font-size: $font-size-1200px;
            margin:0 ;
            margin-top: -10px;
            font-weight: 400;
            &:hover{
              font-weight: 900;
              background-clip: text;
              -webkit-background-clip: text;
              background-image: linear-gradient($color-primary, $color-secondary);
             -webkit-text-fill-color: transparent;
          }
          }
          
      }
  
       @media (max-width: 599px) {

        @include cards;

        &:hover{
            transform: scale(1.05);
        }
        &__a{
            text-decoration: none;
        }
        &__img{
            object-fit: cover;
            width: 100%;
            height: 150px;
            border-radius: $size $size 0px 0px;
        }
        &__txt{
            width: 90%;
            height: 60px;
            margin: 10px;
            margin-left: 20px;
            color: $color-black;
            .p{
                margin-top: -10px;
            }
            .heart{
                width: 100%;
                justify-content: flex-end;
                display: flex;
            }
            .fa-heart{
                font-size: $size;
                margin:0 ;
                margin-top: -10px;
                font-weight: 400;
                
                &:hover{
                    font-weight: 900;
                    background-clip: text;
                    background-image: linear-gradient($color-primary, $color-secondary);
                   -webkit-text-fill-color: transparent;
                }
            }
            
        }
        
      }
    @media (min-width: 600px) and (max-width: 1199px){}
  }
}
.section{
    background-color: $color-background;
    padding-bottom: 25px;
    &__heading{
      margin-left: 50px;
      border-bottom: 2px solid $color-tertiary; 
      width: 5%;
      display: flex;
      font-size: $font-size-1200px;
    }
    &__list{
      padding: 0px;
      &__link{
      @include list-1200px;
      padding: 0px;
      overflow: hidden;
      .animation {
        display: flex;
        justify-content: flex-end;
        margin-top: -18px;
      .hover{
        position: relative;
        right: -25px;
      }
    }
      &:hover{
        .container-txt{
          > p{
            margin: 0px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; 
            width: 70%;
            }
          }
        .section__list__link-type{
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; 
          width: 62%;
        }
        .section__list__link-type--span{
          transition: 2.3s;
          margin-right: 26%;
        }
         .hover{
           width: 30%;
           height: 64px;
           margin-right: -13px;
           margin-left: 0px;
           margin-top: -43px;
           display: flex;
           justify-content: center;
           animation: list_hover-out 1 2000ms linear;
           background-color: $color-tertiary;
           border-radius: 0px 20px 20px 0px ;
        .fa-check-circle{
          animation: spin 1 1000ms 0ms ease-in-out;
          margin-top: 18px;
          margin-left: -22px;
          font-size: 30px;
          color: $color-white;
          font-weight: 900;
          display: block;
          height: min-content;
    }
  }
    }
     &:nth-child(1) {
      animation: progress-bar 1 1000ms linear;
      transform-origin: bottom;
    }
      &:nth-child(2) {
          animation: progress-bar 1 1500ms linear;
          transform-origin: bottom;
        }
      &:nth-child(3) {
          animation: progress-bar 1 2000ms  linear;
          transform-origin: bottom;
      }
      &:nth-child(4){
          animation: progress-bar 1 3000ms linear;
          transform-origin:bottom;
        }
      &:nth-child(5){
          animation: progress-bar 1 4000ms linear;
          transform-origin: bottom;
       }
       > a{
              text-decoration: none;
              color: $color-black;
        
      }   
      .container-txt{
        padding: 5px;
        width: 100%;
        cursor: pointer;
      > p{
        margin: 0px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; 
        width: 70%;
        }
      }
      &-type{
          margin: 0px;
          margin-bottom: 5px;
          font-size: $font-size3;
          width: 70%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
      &--span{
          display: flex;
          justify-content: flex-end;
          font-weight: 900;
          margin-top: -27px;
          margin-right: 10px;
          > .hover{
            margin-top: -36px;
          .fa-check-circle{
            font-size: 20px;
            margin-top: 10px;
            font-weight: 900;
            display: none;
          }
          }
        }
       } 
   }
  }
    @media (min-width: 600px) and (max-width: 1199px){
      &__heading{
        margin-left: 35px;
        border-bottom: 2px solid $color-tertiary; 
        width: 5%;
        display: flex;
        font-size: $font-size-1200px;
      }
      &__list{
        padding: 0px;
        &__link{
        @include list-1200px;
        overflow: hidden;
        padding: 0px;
        .animation {
          display: flex;
          justify-content: flex-end;
          margin-top: -18px;
        .hover{
          position: relative;
          right: -25px;
          margin-top: -43px;
        }
      }
        &:hover{
          .container-txt{
            > p{
              margin: 0px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden; 
              width: 65%;
              }
            }
          .section__list__link-type{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; 
            width: 62%;
          }
          .section__list__link-type--span{
            transition: 2.3s;
            margin-right: 23%;
          }
           .hover{
             width: 30%;
             height: 62px;
             margin-right: -13px;
             margin-left: 0px;
             display: flex;
             justify-content: center;
             animation: list_hover-out 1 2000ms linear;
             background-color: $color-tertiary;
             border-radius: 0px 20px 20px 0px ;
          .fa-check-circle{
            animation: spin 1 1500ms 0ms ease-in-out;
            margin-top: 18px;
            font-size: 30px;
            color: $color-white;
            font-weight: 900;
            display: block;
            height: min-content;
      }
    }
  }
       &:nth-child(1) {
        animation: progress-bar 1 1000ms linear;
        transform-origin: bottom;
      }
        &:nth-child(2) {
            animation: progress-bar 1 1500ms linear;
            transform-origin: bottom;
          }
        &:nth-child(3) {
            animation: progress-bar 1 2000ms  linear;
            transform-origin: bottom;
        }
        &:nth-child(4){
            animation: progress-bar 1 3000ms linear;
            transform-origin:bottom;
          }
        &:nth-child(5){
            animation: progress-bar 1 4000ms linear;
            transform-origin: bottom;
         }
         > a{
                text-decoration: none;
                color: $color-black;
          
        }   
        &-type{
            margin: 0px;
            margin-bottom: 5px;
            font-size: $font-size3;
            width: 70%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        &--span{
            display: flex;
            justify-content: flex-end;
            font-weight: 900;
            margin-top: -27px;
            margin-right: 10px;
          }
         } 
     }
    }
    }
    @media (max-width: 599px){
      &__heading{
        margin-left: 10px;
        padding-top: 25px;
        border-bottom: 2px solid $color-tertiary; 
        width: 9%;
        font-size: $font-size;
      }
      &__list{
          padding: 0px;
          &__link{
          @include list;
          overflow: hidden;
          .animation {
            display: flex;
            justify-content: flex-end;
            margin-top: -18px;
 
          >.hover{
            position: relative;
            right: -25px;
            margin-top: -30px;
            
          }
        }
          &:hover{
            .container-txt{
              > p{
                margin: 0px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden; 
                width: 62%;
                }
              }
            .section__list__link-type{
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden; 
              width: 62%;
            }
            .section__list__link-type--span{
              transition: 3.3s;
              margin-left: -23%;
            }
             .hover{
               width: 30%;
               height: 52px;
               margin-right: -15px;
               margin-left: 0px;
               animation: list_hover-out 1 2000ms linear;
               background-color: $color-tertiary;
               border-radius: 0px 20px 20px 0px ;
            .fa-check-circle{
              animation: spin 1 1500ms 0ms ease-in-out;
              margin-top: 12px;
              font-size: 30px;
              color: $color-white;
              font-weight: 900;
              display: block;
              height: min-content;
        }
      }
    }
          &:nth-child(2) {
              animation: progress-bar 1 1500ms linear;
              transform-origin: bottom;
            }
          &:nth-child(3) {
              animation: progress-bar 1 2000ms  linear;
              transform-origin: bottom;
          }
          &:nth-child(4){
              animation: progress-bar 1 3000ms linear;
              transform-origin:bottom;
            }
          &:nth-child(5){
              animation: progress-bar 1 4000ms linear;
              transform-origin: bottom;
           }
           > a{
                  text-decoration: none;
                  color: $color-black;
          } 
          .container-txt{
            padding: 6px;
            width: 100%;
            cursor: pointer;
          > p{
            margin: 0px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; 
            width: 80%;
            }
          }
          &-type{
              margin: 0px;
              width: 70%;
              font-size: $font-size;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
         
          &--span{
              width: 100%;
              display: flex;
              justify-content: flex-end;
              font-weight: 900;
              margin-top: -19px;
              margin-left: -12px;
            }
           } 
       }

      }
  }
}

