
.chargament {
    @include chargament;
    &__img{
      width: 40%;
      object-fit: cover;
    }
        &>.lds-ellipsis {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
          }
         &>.lds-ellipsis div {
            position: absolute;
            top: 33px;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: linear-gradient($color-secondary, $color-primary 90%);
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
          }
          &>.lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
          }
          &>.lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
          }
          &>.lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
          }
         &>.lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
          }
     }
section {
  background-color: $color-background;
.container {
    
    padding: 10px;
    padding-bottom: 30px;
    width: 1200px;
    margin: auto;
    @media  (max-width: 599px) {
      width: auto;
      margin: auto;
    }
    @media (min-width: 600px) and (max-width: 1199px) {
      width: auto;
      margin: auto;
    }
      
      
    &__heading{
      font-size: $font-size-heading-1200px;
      font-family: $font-primary;
      color: $color-black;
      margin-bottom: 15px;
      margin-left: 11px;
      @media (max-width: 599px){
          font-size: $font-size-heading;
      }
  }

    .block-1{
      display: flex;
      width: 100%;
      @media (max-width: 599px){
          display: inline-block;
          width: 100%;
      }
    }
    .block-2{
      display: flex;
      width: 100%;
      @media (max-width: 599px){
          display: inline-block;
          width: 100%;
      }
    }
    .proj-prev{
      @include cards-1200px;
      &:hover{
          transform: scale(1.05);
      }
      &__a{
          text-decoration: none;
      }
      &__img{
          object-fit: cover;
          width: 100%;
          height: 150px;
          border-radius: $size $size 0px 0px;
      }
      &__txt{
          width: 90%;
          height: 60px;
          margin: 10px;
          margin-left: 20px;
          color: $color-black;
          .p{
              margin-top: 5px;
          }
          .heart{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            &:hover{
              .far{
                opacity: 0;
              }
              .fas{
                opacity: 1;
              }
            }
        }
        .far{
          position:absolute;
          font-size: $size;
          opacity: 1;
          margin-top: -10px;
        }
        .fas{
            opacity: 0;
            margin:0 ;
            margin-top: -10px;
            position:absolute;
            font-size: $size;
            background-clip: content-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: $color-icones ;
          }
          
      }
  
       @media (max-width: 599px) {

        @include cards;

        &:hover {
            transform: scale(1.05);
        }
        &__a {
            text-decoration: none;
        }
        &__img {
            object-fit: cover;
            width: 100%;
            height: 150px;
            border-radius: $size $size 0px 0px;
        }
        &__txt {
            width: 90%;
            height: 60px;
            margin: 10px;
            margin-left: 20px;
            color: $color-black;
            .p {
                margin-top: 5px;
            }
            .heart {
                width: 100%;
                justify-content: flex-end;
                display: flex;
                position: relative;
                &:hover{
                  .far{
                    opacity: 0;
                  }
                  .fas{
                    opacity: 1;
                  }
                }
            }
            .far{
              position:absolute;
              font-size: $size;
              opacity: 1;
              margin-top: -10px;
            }
            .fas {
                margin:0 ;
                margin-top: -10px;
                position:absolute;
                opacity: 0;
                font-size: $size;
                background-clip: content-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: $color-icones ;
            }
            
        }
        
      }

}
}
}
section {
  background-color: $color-background;
.section {
    padding-bottom: 70px;
    width: 1200px;
    margin: auto;
    @media (min-width: 600px) and (max-width: 1199px) {
      width: auto;
      margin: auto;
     }
     @media (max-width: 599px) {
      width: auto;
      margin: auto;
     }
    &__heading {
      margin-left: 50px;
      border-bottom: 2px solid $color-tertiary; 
      width: 5%;
      display: flex;
      font-size: $font-size-1200px;
      font-weight: 400;
    }
    &__list {
      padding: 0px;
      &__link {
      @include list-1200px;
      padding: 0px;
      overflow: hidden;
      &--span{
        display: flex;
        justify-content: flex-end;
        font-weight: 900;
        margin-right: 10px;
        > .hover{
          margin-top: -36px;
        .fa-check-circle{
          font-size: 20px;
          margin-top: 10px;
          font-weight: 900;
          display: none;
        }
        }
      }
      .animation {
        display: flex;
        justify-content: flex-end;
        margin-top: -18px;
      .hover {
        position: relative;
        right: -25px;
      }
    }
      &:hover {
        .container-txt {

          > p{
            margin: 0px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; 
            width: 80%;
            }
          }
        .section__list__link-type {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; 
          width: 80%;
        }
        .section__list__link--span {
          animation: 1 0.3s linear;
          transition-delay: 0.3s;
          margin-right: 26%;
        }
         .hover {
           width: 30%;
           height: 75px;
           margin-right: -13px;
           margin-left: 0px;
           margin-top: -46px;
           display: flex;
           justify-content: center;
           animation: list_hover-out 1 0.3s cubic-bezier(.75,.54,.03,1);
           background-color: $color-tertiary;
           border-radius: 0px 20px 20px 0px ;
        .fa-check-circle {
          animation: spin 1 500ms 0ms ease-in-out;
          margin-top: 18px;
          margin-left: -22px;
          font-size: 44px;
          color: $color-white;
          font-weight: 900;
          display: block;
          height: min-content;
    }
  }
    }
     &:nth-child(1) {
      animation: progress-bar 1 1000ms linear;
      transform-origin: bottom;
    }
      &:nth-child(2) {
          animation: progress-bar 1 1500ms linear;
          transform-origin: bottom;
        }
      &:nth-child(3) {
          animation: progress-bar 1 2000ms  linear;
          transform-origin: bottom;
      }
      &:nth-child(4) {
          animation: progress-bar 1 3000ms linear;
          transform-origin:bottom;
        }
      &:nth-child(5) {
          animation: progress-bar 1 4000ms linear;
          transform-origin: bottom;
       }
       > a{
              text-decoration: none;
              color: $color-black;
        
      }   
      .container-txt {
        padding: 5px;
        width: 100%;
        cursor: pointer;
        &-type {
          margin: 0px;
          margin-bottom: 5px;
          padding-left: 0.3rem;
          font-size: $font-size3;
          width: 70%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
       }
       &-Over{
        display: flex;
        justify-content: space-between;
      > p{
        margin: 0px;
        padding-left: 0.3rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; 
        width: 70%;
         }
        }
      }
 
   }
  }
    @media (min-width: 600px) and (max-width: 1199px) {
      &__heading {
        margin-left: 35px;
        border-bottom: 2px solid $color-tertiary; 
        width: 5%;
        display: flex;
        font-size: $font-size-1200px;
        font-weight: 400;
      }
      &__list {
        padding: 0px;
        &__link {
        @include list-1200px;
        overflow: hidden;
        padding: 0px;
        &--span {
          display: flex;
          justify-content: flex-end;
          font-weight: 900;
          margin-top: 0px;
          padding-right: 20px;
          margin-right: 10px;
        }
        .animation {
          display: flex;
          justify-content: flex-end;
          margin-top: -18px;
        .hover {
          position: relative;
          right: -25px;
          margin-top: -45px;
        }
      }
        &:hover {
          .container-txt {
            > p {
              margin: 0px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden; 
              width: 62%;
              }
            }
          .section__list__link-type {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; 
            width: 62%;
          }
          .section__list__link-type--span {
            animation: 1 0.3s linear;
            transition-delay: 0.3s;
            margin-right: 23%;
          }
           .hover {
             width: 30%;
             height: 70px;
             margin-right: -13px;
             margin-left: 0px;
             display: flex;
             justify-content: center;
             animation: list_hover-out 1 0.3s cubic-bezier(.75,.54,.03,1);
             background-color: $color-tertiary;
             border-radius: 0px 20px 20px 0px ;
          .fa-check-circle {
            animation: spin 1 500ms 0ms linear;
            margin-top: 22px;
            font-size: 30px;
            color: $color-white;
            font-weight: 900;
            display: block;
            height: min-content;
      }
    }
  }
       &:nth-child(1) {
        animation: progress-bar 1 1000ms linear;
        transform-origin: bottom;
      }
        &:nth-child(2) {
            animation: progress-bar 1 1500ms linear;
            transform-origin: bottom;
          }
        &:nth-child(3) {
            animation: progress-bar 1 2000ms  linear;
            transform-origin: bottom;
        }
        &:nth-child(4) {
            animation: progress-bar 1 3000ms linear;
            transform-origin:bottom;
          }
        &:nth-child(5) {
            animation: progress-bar 1 4000ms linear;
            transform-origin: bottom;
         }
         > a {
                text-decoration: none;
                color: $color-black;
          
        }
        .container-txt{
        &-type  {
            margin: 0px;
            margin-bottom: 5px;
            font-size: $font-size3;
            width: 70%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
           }
         &-Over{
            display: flex;
            justify-content: space-between;
          > p {
             margin: 0px;
             text-overflow: ellipsis;
             white-space: nowrap;
             overflow: hidden; 
             width: 80%;
             }
          }
         } 
     }
    }
     
    }
    @media (max-width: 599px) {
      &__heading {
        margin-left: 10px;
        padding-top: 25px;
        border-bottom: 2px solid $color-tertiary; 
        width: 9%;
        font-size: $font-size;
        font-weight: 400;
      }
      &__list {
          padding: 0px;
          &__link {
         @include list;
          max-width: 100%;
          overflow: hidden;    
          &--span {
            font-weight: bold;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding-right: 20px;
            margin-top: -24px;
           } 
          .animation {
            display:flex;
            align-items:center;
            justify-content:flex-end;       
 
          >.hover {
            position: relative;
            right: -25px;
            margin-top: -40px;
            
          }
        }
          &:hover {
            .section__list__link--span{
              animation: 1 0.3s linear;
              transition-delay: 0.3s;
              margin-right: 20%;
            }
          
            .animation{
             .hover {
               width: 30%;
               height: 60px;
               margin-right: -15px;
               margin-left: 0px;
               animation: list_hover-out 1 0.3s  cubic-bezier(.75,.54,.03,1);
               background-color: $color-tertiary;
               border-radius: 0px 20px 20px 0px ;
            .fa-check-circle {
              animation: spin 1 500ms  ease-in-out;
              margin-top: 18px;
              margin-right: 15px;
              font-size: 30px;
              color: $color-white;
              font-weight: 900;
              display: block;
              height: min-content;
        }
             }
            }
    }
          &:nth-child(2) {
              animation: progress-bar 1 1500ms linear;
              transform-origin: bottom;
            }
          &:nth-child(3) {
              animation: progress-bar 1 2000ms  linear;
              transform-origin: bottom;
          }
          &:nth-child(4) {
              animation: progress-bar 1 3000ms linear;
              transform-origin:bottom;
            }
          &:nth-child(5) {
              animation: progress-bar 1 4000ms linear;
              transform-origin: bottom;
           }
           > a {
                  text-decoration: none;
                  color: $color-black;
          } 

          .container-txt {
            padding: 6px;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; 
            &-type { 
              margin: 0px;
              margin-top: 5px;
              font-size: $font-size;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          &-Over{
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
          > p {
            margin: 0px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; 
            width: 80%;
            }
          }
          }
     }
    }
   }
  }
}
