footer {
 background-color:#353535;
.footer {
    width: 1200px;
    margin: auto;
    &__heading {
        width: 20%;
        margin-left: 40px;  
        margin-top:  15px;
        margin-bottom: 10px;
        filter:  invert(100%);
        object-fit: cover;
    }
    &__ul {
    margin: 0px;
    padding-bottom: 20px;
    list-style: none; 
     &__link {
       &--a {
           text-decoration: none;
           color: $color-white;
           font-size: $font-size3;
     }
  }
}
@media (min-width: 600px) and (max-width: 1199px){
    width: auto;
    margin: auto;
}
    @media (max-width:599px) {
        width: auto;
        margin: auto;
        &__heading {
            width: 25%; 
            margin-left: 40px;  
            margin-bottom: 10px; 
            margin-top:  15px;
            filter:  invert(100%);
            object-fit: cover;
        }
        &__ul {
        margin: 0px;
        list-style: none; 
        padding-bottom: 20px;
         &__link {
           &--a {
              text-decoration: none;
              color: $color-white;
              font-size: $font-size2;
          }
        }
     }
   }
 }
}