.footer{
    background-color: $color-black;
    &__heading{
        width: 30%;
        margin-left: 40px;  
        margin-top:  10px;
        filter:  invert(100%);
    }
    &__ul{
    margin: 0px;
    list-style: none; 
    &__link {
      &--a{
          text-decoration: none;
          color: $color-white;
          font-size: $font-size2;
    }
    }
}
@media (min-width: 600px) and (max-width: 1199px){}
    @media (max-width:599px){
        &__heading{
            width: 30%; 
            margin-left: 40px;   
            margin-top:  10px;
            filter:  invert(100%);
        }
        &__ul{
        margin: 0px;
        list-style: none; 
        &__link {
          &--a{
              text-decoration: none;
              color: $color-white;
              font-size: $font-size2;
        }
        }
    }
}
}
