.footer{
    background-color: $color-black;
    @media (max-width:599px){
        &__heading{
            width: 30%;  
            margin-top: 10px; 
            filter:  invert(100%);
        }
        &__ul{
        list-style: none; 
        &__link {
          &--a{
              text-decoration: none;
              color: $color-white;
              font-size: $font-size2;
        }
        }
    }
}
}
