.form{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50px;
    background: #97939740;
    box-shadow: inset 0px 3px 2px #1312123d;

    .nav_search {
     border: 0px;
     background: #fdfdfd00;
     font-size: $font-size3;
     font-family: $font-primary;
     font-weight: 900;
    }
    .fa-map-marker-alt {
        margin-top: 15px;
        margin-left: 30px;
    }

@media (max-width:599px) {
   
   width: 100%;
   display: flex;
   justify-content: center;
   height: 30px;
   background: #97939740;
   box-shadow: inset 0px 6px 6px #13121224;

   .nav_search {
    border: 0px;
    background: #fdfdfd00;
    font-size: $font-size;
    font-family: $font-primary;
    font-weight: 900;
   }
   .fa-map-marker-alt {
       margin-top: 7px;
       margin-left: 30px;
   }
  }
 }
