@font-face {
  font-family: "Roboto";
  src: url(/font/Roboto-Black.ttf);
  font-family: "Shrikhand";
  src: url(/font/Shrikhand-Regular.ttf);
}
@keyframes progress-bar {
  0% {
    transform: translate(-9999px);
    opacity: 3;
  }
  25% {
    opacity: 0;
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes rotate-btn {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes chargament {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  10% {
    transform: scaleX(0.4);
  }
  60% {
    transform: scaleX(0.8);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes block-pages {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes list_hover-out {
  0% {
    transform: translate(-9999px);
    transform-origin: right;
  }
  5% {
    transform: scale(0);
  }
  15% {
    transform: scaleX(0.2);
  }
  30% {
    transform: scaleX(0.4);
  }
  60% {
    transform: scaleX(0.6);
  }
  85% {
    transform: scaleX(0.8);
  }
  90% {
    transform: scaleX(1);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
  }
  100% {
    transform: rotate(-360deg);
    transform-origin: center;
  }
}
.block_page-1 {
  padding: 0;
  position: relative;
  font-family: "Roboto";
  color: #000;
  font-size: 15px;
  background-color: #fff;
  animation: block-pages 1ms 5000ms both cubic-bezier(0.9, 0, 0.1, 1);
}

.block_page {
  font-family: "Roboto";
  color: #000;
  font-size: 15px;
  background-color: #fff;
}

.header--nav__btn-explorer {
  border: 1px solid white;
  width: 50%;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 15px;
  background: linear-gradient(#FF79DA, #9356DC 90%);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transition: transform 400ms ease-in-out;
  animation: rotate-btn 5s 3 ease-in-out;
}
.header--nav__btn-explorer:hover {
  transform: scale(1.05);
}
.header--nav__btn-explorer > a {
  color: white;
  text-decoration: none;
  font-family: "Roboto";
}
@media (max-width: 599px) {
  .header--nav__btn-explorer {
    border: 1px solid white;
    width: 50%;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 15px;
    background: linear-gradient(#FF79DA, #9356DC 90%);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transition: transform 400ms ease-in-out;
    animation: rotate-btn 5s 3 ease-in-out;
  }
  .header--nav__btn-explorer:hover {
    transform: scale(1.05);
  }
  .header--nav__btn-explorer-a {
    color: white;
    text-decoration: none;
    font-family: "Roboto";
  }
}

.proj-prev__btn-vert {
  width: 20%;
  margin: 10px;
  margin-left: 220px;
  display: flex;
  position: absolute;
  background-color: #99E2D0;
  justify-content: center;
  color: #1b6150;
}
@media (max-width: 599px) {
  .proj-prev__btn-vert {
    width: 20%;
    margin: 10px;
    margin-left: 220px;
    display: flex;
    position: absolute;
    background-color: #99E2D0;
    justify-content: center;
    color: #1b6150;
  }
}

.section__btn-commander {
  border: 1px solid white;
  width: 50%;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 15px;
  background: linear-gradient(#FF79DA, #9356DC 90%);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transition: transform 400ms ease-in-out;
  animation: rotate-btn 5s 3 ease-in-out;
}
.section__btn-commander:hover {
  transform: scale(1.05);
}
.section__btn-commander > a {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto";
}
@media (max-width: 599px) {
  .section__btn-commander {
    border: 1px solid white;
    width: 50%;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 15px;
    background: linear-gradient(#FF79DA, #9356DC 90%);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transition: transform 400ms ease-in-out;
    animation: rotate-btn 5s 3 ease-in-out;
  }
  .section__btn-commander:hover {
    transform: scale(1.05);
  }
  .section__btn-commander > a {
    color: #fff;
    text-decoration: none;
    font-family: "Roboto";
  }
}

.header {
  font-family: "Roboto";
  margin: auto;
}
.header--nav {
  width: 100%;
  height: 230px;
  margin-left: auto;
  background-color: #f2f2f2;
  padding-bottom: 25px;
}
.header--nav__p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
.header--nav__heading {
  padding-top: 15px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.header__h1 {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  display: flex;
}
.header__h1 > a .fa-arrow-left {
  font-size: 20px;
  margin-left: 20px;
  padding-bottom: 10px;
  color: #000;
}
.header__h1__img {
  width: 30%;
  height: 40px;
  margin: auto;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .header {
    margin: auto;
  }
  .header--nav {
    width: 100%;
    height: 230px;
    margin-left: auto;
    background-color: #f2f2f2;
    padding-bottom: 25px;
  }
  .header--nav__p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .header--nav__heading {
    padding-top: 15px;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .header__h1 {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    display: flex;
  }
  .header__h1 > a .fa-arrow-left {
    font-size: 20px;
    margin-left: 20px;
    padding-bottom: 10px;
    color: #000;
  }
  .header__h1__img {
    width: 50%;
    height: 30px;
    margin: auto;
  }
}
@media (max-width: 599px) {
  .header {
    margin: auto;
  }
  .header--nav {
    width: 100%;
    height: 230px;
    margin-left: auto;
    background-color: #f2f2f2;
    padding-bottom: 25px;
  }
  .header--nav__p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .header--nav__heading {
    padding-top: 15px;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .header__h1 {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    display: flex;
  }
  .header__h1 > a .fa-arrow-left {
    font-size: 20px;
    margin-left: 20px;
    padding-bottom: 10px;
    color: #000;
  }
  .header__h1__img {
    width: 50%;
    height: 30px;
    margin: auto;
  }
}

@media (max-width: 599px) {
  .header__logo {
    display: flex;
  }
  .header_img {
    width: 100%;
    margin: auto;
  }
  .header_img_heading {
    font-family: "Shrikhand";
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    width: 96.4%;
    height: 54px;
    position: absolute;
    margin-top: -50px;
    padding-top: 16px;
    background-color: #f2f2f2;
    border-radius: 36px 36px 0px 0px;
  }
  .header_img_heading > .fa-heart {
    font-weight: 400;
  }
  .header_img_heading > .fa-heart:hover {
    transition: all 0 ease-in-out;
    font-weight: 900;
    background-clip: text;
    background-image: linear-gradient(#9356DC, #FF79DA);
    -webkit-text-fill-color: transparent;
  }
  .header--img {
    width: 100%;
    height: 300px;
  }
}

.footer {
  background-color: #000;
}
.footer__heading {
  width: 30%;
  margin-left: 40px;
  margin-top: 10px;
  filter: invert(100%);
}
.footer__ul {
  margin: 0px;
  list-style: none;
}
.footer__ul__link--a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
@media (max-width: 599px) {
  .footer__heading {
    width: 30%;
    margin-left: 40px;
    margin-top: 10px;
    filter: invert(100%);
  }
  .footer__ul {
    margin: 0px;
    list-style: none;
  }
  .footer__ul__link--a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
  }
}

.nav__h3 {
  font-size: 25px;
  margin-left: 12px;
}
.nav__ul {
  width: 100%;
  padding: 0px;
  list-style: none;
  margin-top: 20px;
  background-color: #fff;
}
.nav__ul__link {
  border: 1px solid #f2f2f2;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  padding: 15px;
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
  background-color: #f2f2f2;
  transform: scale(1);
  transition: transform 400ms ease-in-out;
}
.nav__ul__link:hover {
  background-color: #d6f2fbb5;
  transform: scale(1.05);
}
.nav__ul__link:hover .fas {
  color: #9356DC;
}
.nav__ul__link--a {
  text-decoration: none;
}
.nav__ul__link--a > .fas {
  margin-left: 30px;
  font-size: 19px;
  color: #d8d5d5;
}
.nav__ul__link--a--span {
  margin-left: -6%;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 0 6px;
  color: #fff;
  font-size: 19px;
  background-color: #9356DC;
}
.nav__ul__link--a--span__strong {
  margin-left: 15%;
  color: #000;
  font-size: 15px;
}
@media (max-width: 599px) {
  .nav__h3 {
    font-size: 25px;
    margin-left: 12px;
  }
  .nav__ul {
    width: 100%;
    padding: 0px;
    list-style: none;
    margin-top: 20px;
    background-color: #fff;
  }
  .nav__ul__link {
    border: 1px solid #f2f2f2;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 15px;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    background-color: #f2f2f2;
    transform: scale(1);
    transition: transform 400ms ease-in-out;
  }
  .nav__ul__link:hover {
    background-color: #d6f2fbb5;
    transform: scale(1.05);
  }
  .nav__ul__link:hover .fas {
    color: #9356DC;
  }
  .nav__ul__link--a {
    text-decoration: none;
  }
  .nav__ul__link--a > .fas {
    margin-left: 30px;
    font-size: 19px;
    color: #d8d5d5;
  }
  .nav__ul__link--a--span {
    margin-left: -6%;
    border: 1px solid #9356DC;
    border-radius: 50%;
    padding: 0 6px;
    color: #fff;
    font-size: 19px;
    background-color: #9356DC;
  }
  .nav__ul__link--a--span__strong {
    margin-left: 15%;
    color: #000;
    font-size: 15px;
  }
}

.chargament {
  width: 90%;
  height: 100%;
  display: flex;
  position: static;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem;
  animation: chargament 4500ms 250ms both cubic-bezier(0.9, 0, 0.1, 1);
  position: absolute;
  transform: scaleX(1);
  transform-origin: top;
  top: 0;
  left: 30px;
  right: 0;
  bottom: 0;
}
.chargament__img {
  width: 80%;
}
.chargament > .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.chargament > .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: linear-gradient(#FF79DA, #9356DC 90%);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.chargament > .lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.chargament > .lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.chargament > .lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.chargament > .lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

.container {
  background-color: #f2f2f2;
  padding: 10px;
}
.container__heading {
  font-size: 25px;
  font-family: "Roboto";
  color: #000;
}
.container .proj-prev {
  width: 80%;
  height: 210px;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  border-radius: 25px 25px;
  background-color: #fff;
  transform: scale(1);
  transition: transform 400ms ease-in-out;
}
.container .proj-prev:hover {
  transform: scale(1.05);
}
.container .proj-prev__a {
  text-decoration: none;
}
.container .proj-prev__img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 25px 25px 0px 0px;
}
.container .proj-prev__txt {
  width: 90%;
  height: 60px;
  margin: 10px;
  color: #000;
}
.container .proj-prev__txt .p {
  margin-top: -15px;
}
.container .proj-prev__txt .heart {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.container .proj-prev__txt .fa-heart {
  font-size: 25px;
  margin: 0;
  margin-top: -10px;
  font-weight: 400;
}
.container .proj-prev__txt .fa-heart:active {
  color: #9356DC;
  font-weight: 900;
}
@media (max-width: 599px) {
  .container .proj-prev {
    width: 80%;
    height: 210px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
    border-radius: 25px 25px;
    background-color: #fff;
    transform: scale(1);
    transition: transform 400ms ease-in-out;
  }
  .container .proj-prev:hover {
    transform: scale(1.05);
  }
  .container .proj-prev__a {
    text-decoration: none;
  }
  .container .proj-prev__img {
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 25px 25px 0px 0px;
  }
  .container .proj-prev__txt {
    width: 90%;
    height: 60px;
    margin: 10px;
    color: #000;
  }
  .container .proj-prev__txt .p {
    margin-top: -15px;
  }
  .container .proj-prev__txt .heart {
    width: 100%;
    justify-content: flex-end;
    display: flex;
  }
  .container .proj-prev__txt .fa-heart {
    font-size: 25px;
    margin: 0;
    margin-top: -10px;
    font-weight: 400;
  }
  .container .proj-prev__txt .fa-heart:hover {
    transition: all 0 ease-in-out;
    font-weight: 900;
    background-clip: text;
    background-image: linear-gradient(#9356DC, #FF79DA);
    -webkit-text-fill-color: transparent;
  }
}
.section {
  background-color: #f2f2f2;
  padding-bottom: 25px;
}
.section__list {
  padding: 0px;
}
.section__list__heading {
  margin-left: 10px;
  border-bottom: 2px solid #99E2D0;
  width: 9%;
}
.section__list__link {
  background-color: #fff;
  width: 90%;
  margin: auto;
  display: inherit;
  border-radius: 25px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-bottom: 20px;
}
.section__list__link:hover .hover {
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: center;
  animation: list_hover-out 1 2000ms ease-in-out;
  background-color: #99E2D0;
}
.section__list__link:hover .hover .fa-check-circle {
  animation: spin 1 1000ms 400ms ease-in-out;
  font-size: 20px;
  /* color: $color-white; */
  font-weight: 100;
  display: block;
}
.section__list__link:nth-child(2) {
  animation: progress-bar 1 1500ms linear;
  transform-origin: bottom;
}
.section__list__link:nth-child(3) {
  animation: progress-bar 1 2000ms linear;
  transform-origin: bottom;
}
.section__list__link:nth-child(4) {
  animation: progress-bar 1 3000ms linear;
  transform-origin: bottom;
}
.section__list__link:nth-child(5) {
  animation: progress-bar 1 4000ms linear;
  transform-origin: bottom;
}
.section__list__link > a {
  text-decoration: none;
  color: #000;
}
.section__list__link-type {
  margin: 0px;
  font-size: 15px;
}
.section__list__link-type--span {
  display: flex;
  justify-content: flex-end;
  font-weight: 900;
  margin-top: -20px;
}
.section__list__link-type--span > .hover {
  margin-top: -20px;
}
.section__list__link-type--span > .hover .fa-check-circle {
  font-size: 20px;
  margin-top: 10px;
  display: none;
}
@media (max-width: 599px) {
  .section__list {
    padding: 0px;
  }
  .section__list__heading {
    margin-left: 10px;
    border-bottom: 2px solid #99E2D0;
    width: 9%;
  }
  .section__list__link {
    background-color: #fff;
    width: 90%;
    margin: auto;
    display: inherit;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 20px;
  }
  .section__list__link:nth-child(2) {
    animation: progress-bar 1 1500ms linear;
    transform-origin: bottom;
  }
  .section__list__link:nth-child(3) {
    animation: progress-bar 1 2000ms linear;
    transform-origin: bottom;
  }
  .section__list__link:nth-child(4) {
    animation: progress-bar 1 3000ms linear;
    transform-origin: bottom;
  }
  .section__list__link:nth-child(5) {
    animation: progress-bar 1 4000ms linear;
    transform-origin: bottom;
  }
  .section__list__link > a {
    text-decoration: none;
    color: #000;
  }
  .section__list__link-type {
    margin: 0px;
    font-size: 15px;
  }
  .section__list__link-type--span {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    margin-top: -20px;
  }
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30px;
  background: #97939740;
  box-shadow: inset 0px 6px 6px #13121224;
}
.form .nav_search {
  border: 0px;
  background: #fdfdfd00;
}
.form .fa-map-marker-alt {
  margin-top: 7px;
  margin-left: 30px;
}
@media (max-width: 599px) {
  .form {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30px;
    background: #97939740;
    box-shadow: inset 0px 6px 6px #13121224;
  }
  .form .nav_search {
    border: 0px;
    background: #fdfdfd00;
  }
  .form .fa-map-marker-alt {
    margin-top: 7px;
    margin-left: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
