@font-face {
  font-family: "Roboto";
  src: url(/font/Roboto-Black.ttf);
  font-family: "Shrikhand";
  src: url(/font/Shrikhand-Regular.ttf);
}
@keyframes progress-bar {
  0% {
    transform: translate(-9999px);
    opacity: 3;
  }
  25% {
    opacity: 0;
    transform: scaleY(0.5);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes rotate-btn {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes chargament {
  0% {
    transform: scaleX(0);
    opacity: 4;
  }
  10% {
    transform: scaleX(0.4);
    opacity: 2;
  }
  60% {
    transform: scaleX(0.8);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes block-pages {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes list_hover-out {
  0% {
    transform: translate(9999px);
    transform-origin: left;
  }
  10% {
    transform: translate(666px);
  }
  60% {
    transform: translate(100px);
  }
  80% {
    transform: translate(50px);
  }
  90% {
    transform: translate(25px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(-360deg);
    transform-origin: center;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: center;
  }
}
.block_page-1 {
  padding: 0;
  position: relative;
  font-family: "Roboto";
  color: #000;
  font-size: 20px;
  background-color: #fff;
  animation: block-pages 1ms 3500ms both cubic-bezier(0.9, 0, 0.1, 1);
}
@media (max-width: 599px) {
  .block_page-1 {
    padding: 0;
    position: relative;
    font-family: "Roboto";
    color: #000;
    font-size: 15px;
    background-color: #fff;
    animation: block-pages 1ms 3500ms both cubic-bezier(0.9, 0, 0.1, 1);
  }
}

.block_page {
  font-family: "Roboto";
  color: #000;
  font-size: 20px;
  background-color: #fff;
}
@media (max-width: 599px) {
  .block_page {
    font-family: "Roboto";
    color: #000;
    font-size: 15px;
    background-color: #fff;
  }
}

.header--nav__btn-explorer {
  width: 20%;
  font-weight: 900;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto";
  background: linear-gradient(#FF79DA, #9356DC 90%);
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: transform 400ms ease-in-out;
  animation: rotate-btn 5s 3 ease-in-out;
}
.header--nav__btn-explorer:hover {
  transform: scale(1.05);
}
.header--nav__btn-explorer > a {
  color: white;
  text-decoration: none;
  font-family: "Roboto";
}
@media (min-width: 600px) and (max-width: 1199px) {
  .header--nav__btn-explorer {
    width: 35%;
    font-weight: 900;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-family: "Roboto";
    background: linear-gradient(#FF79DA, #9356DC 90%);
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition: transform 400ms ease-in-out;
    animation: rotate-btn 5s 3 ease-in-out;
    text-align: center;
  }
  .header--nav__btn-explorer:hover {
    transform: scale(1.05);
  }
  .header--nav__btn-explorer > a {
    color: white;
    text-decoration: none;
    font-family: "Roboto";
  }
}
@media (max-width: 599px) {
  .header--nav__btn-explorer {
    width: 40%;
    font-weight: 900;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-family: "Roboto";
    background: linear-gradient(#FF79DA, #9356DC 90%);
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition: transform 400ms ease-in-out;
    animation: rotate-btn 5s 3 ease-in-out;
    text-align: center;
  }
  .header--nav__btn-explorer:hover {
    transform: scale(1.05);
  }
  .header--nav__btn-explorer-a {
    color: white;
    text-decoration: none;
    font-family: "Roboto";
  }
}

.proj-prev__btn-vert {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.proj-prev__btn-vert > span {
  width: 20%;
  margin: 10px;
  display: flex;
  position: absolute;
  background-color: #99E2D0;
  justify-content: center;
  color: #1b6150;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .proj-prev__btn-vert {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .proj-prev__btn-vert > span {
    width: 20%;
    margin: 10px;
    display: flex;
    position: absolute;
    background-color: #99E2D0;
    justify-content: center;
    color: #1b6150;
    width: 27%;
  }
}
@media (max-width: 599px) {
  .proj-prev__btn-vert {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .proj-prev__btn-vert > span {
    width: 20%;
    margin: 10px;
    display: flex;
    position: absolute;
    background-color: #99E2D0;
    justify-content: center;
    color: #1b6150;
  }
}

.section__btn-commander {
  width: 20%;
  font-weight: 900;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto";
  background: linear-gradient(#FF79DA, #9356DC 90%);
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: transform 400ms ease-in-out;
  animation: rotate-btn 5s 3 ease-in-out;
}
.section__btn-commander:hover {
  transform: scale(1.05);
}
@media (max-width: 599px) {
  .section__btn-commander {
    width: 40%;
    font-weight: 900;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-family: "Roboto";
    background: linear-gradient(#FF79DA, #9356DC 90%);
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition: transform 400ms ease-in-out;
    animation: rotate-btn 5s 3 ease-in-out;
  }
  .section__btn-commander:hover {
    transform: scale(1.05);
  }
  .section__btn-commander > a {
    color: #fff;
    text-decoration: none;
    font-family: "Roboto";
  }
}

.header {
  font-family: "Roboto";
  margin: auto;
}
.header--nav {
  width: 100%;
  height: 230px;
  margin-left: auto;
  background-color: #f2f2f2;
  padding-bottom: 25px;
}
.header--nav__p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
.header--nav__heading {
  padding-top: 15px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.header__h1 {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
}
.header__h1 > a .fa-arrow-left {
  font-size: 30px;
  margin-left: 5px;
  padding-bottom: 10px;
  color: #000;
}
.header__h1__img {
  width: 30%;
  height: 20%;
  margin: auto;
  margin-top: 10px;
  object-fit: cover;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .header {
    margin: auto;
  }
  .header--nav {
    width: 100%;
    height: 250px;
    margin-left: auto;
    background-color: #f2f2f2;
    padding-bottom: 25px;
  }
  .header--nav__p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .header--nav__heading {
    padding-top: 15px;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .header__h1 {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
  }
  .header__h1 > a .fa-arrow-left {
    font-size: 20px;
    margin-left: 20px;
    padding-bottom: 10px;
    color: #000;
  }
  .header__h1__img {
    width: 40%;
    height: 10%;
    margin: auto;
    margin-top: 10px;
    object-fit: cover;
  }
}
@media (max-width: 599px) {
  .header {
    margin: auto;
  }
  .header--nav {
    width: 100%;
    height: 230px;
    margin-left: auto;
    background-color: #f2f2f2;
    padding-bottom: 25px;
  }
  .header--nav__p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .header--nav__heading {
    padding-top: 15px;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .header__h1 {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
  }
  .header__h1 > a .fa-arrow-left {
    font-size: 20px;
    margin-left: 20px;
    padding-top: 7px;
    margin-top: 15px;
    color: #000;
  }
  .header__h1__img {
    width: 50%;
    height: 20%;
    margin: auto;
    margin-top: 10px;
    object-fit: cover;
  }
}

.header__logo {
  display: flex;
}
.header_img {
  width: 100%;
  margin: auto;
}
.header_img_heading {
  font-family: "Shrikhand";
  font-size: 40px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 75px;
  padding-top: 15px;
  margin-bottom: -40px;
  margin-top: 0px;
  background-color: #f2f2f2;
  border-radius: 36px 36px 0px 0px;
}
.header_img_heading > .fa-heart {
  font-weight: 400;
}
.header_img_heading > .fa-heart:hover {
  font-weight: 900;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
}
.header--img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .header__logo {
    display: flex;
  }
  .header_img {
    width: 100%;
    margin: auto;
  }
  .header_img_heading {
    font-family: "Shrikhand";
    font-size: 40px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 75px;
    padding-top: 15px;
    margin-bottom: -40px;
    margin-top: 0px;
    background-color: #f2f2f2;
    border-radius: 36px 36px 0px 0px;
  }
  .header_img_heading > .fa-heart {
    font-weight: 400;
  }
  .header_img_heading > .fa-heart:hover {
    font-weight: 900;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(#9356DC, #FF79DA);
    -webkit-text-fill-color: transparent;
  }
  .header--img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
@media (max-width: 599px) {
  .header__logo {
    display: flex;
  }
  .header_img {
    width: 100%;
    margin: auto;
  }
  .header_img_heading {
    font-family: "Shrikhand";
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    width: 96.9%;
    height: 54px;
    position: absolute;
    margin-top: -50px;
    padding-top: 25px;
    background-color: #f2f2f2;
    border-radius: 36px 36px 0px 0px;
  }
  .header_img_heading > .fa-heart {
    font-weight: 400;
  }
  .header_img_heading > .fa-heart:hover {
    font-weight: 900;
    background-clip: text;
    background-image: linear-gradient(#9356DC, #FF79DA);
    -webkit-text-fill-color: transparent;
  }
  .header--img {
    width: 100%;
    height: 300px;
  }
}

footer {
  background-color: #353535;
}
footer .footer {
  width: 1200px;
  margin: auto;
}
footer .footer__heading {
  width: 20%;
  margin-left: 40px;
  margin-top: 15px;
  margin-bottom: 10px;
  filter: invert(100%);
}
footer .footer__ul {
  margin: 0px;
  padding-bottom: 20px;
  list-style: none;
}
footer .footer__ul__link--a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
@media (min-width: 600px) and (max-width: 1199px) {
  footer .footer {
    width: auto;
    margin: auto;
  }
}
@media (max-width: 599px) {
  footer .footer {
    width: auto;
    margin: auto;
  }
  footer .footer__heading {
    width: 25%;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 15px;
    filter: invert(100%);
  }
  footer .footer__ul {
    margin: 0px;
    list-style: none;
    padding-bottom: 20px;
  }
  footer .footer__ul__link--a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
  }
}

.nav {
  width: 1200px;
  margin: auto;
}
.nav__h3 {
  font-size: 40px;
  margin-left: 12px;
}
.nav__ul {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 20px;
  background-color: #fff;
}
.nav__ul__link {
  border: 1px solid #f2f2f2;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 15px;
  margin: auto;
  margin-bottom: 10px;
  width: 25%;
  background-color: #f2f2f2;
  transform: scale(1);
  transition: transform 400ms ease-in-out;
}
.nav__ul__link:hover {
  background-color: #d6f2fbb5;
  transform: scale(1.05);
}
.nav__ul__link:hover .fas {
  color: #9356DC;
}
.nav__ul__link--a {
  text-decoration: none;
}
.nav__ul__link--a > .fas {
  margin-left: 20px;
  font-size: 20px;
  color: #d8d5d5;
}
.nav__ul__link--a--span {
  margin-left: -6%;
  border: 1px solid #9356DC;
  border-radius: 50%;
  padding: 0 6px;
  color: #fff;
  font-size: 20px;
  background-color: #9356DC;
}
.nav__ul__link--a--span__strong {
  margin-left: 5%;
  color: #000;
  font-size: 20px;
  font-weight: 900;
}
@media (min-width: 600px) and (max-width: 1199px) {
  .nav {
    width: auto;
    margin: auto;
  }
  .nav__h3 {
    font-size: 40px;
    margin-left: 20px;
  }
  .nav__ul {
    width: 100%;
    height: 150px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 35px;
    background-color: #fff;
  }
  .nav__ul__link {
    border: 1px solid #f2f2f2;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 15px;
    margin: auto;
    margin-bottom: 10px;
    width: 35%;
    background-color: #f2f2f2;
    transform: scale(1);
    transition: transform 400ms ease-in-out;
    text-align: center;
  }
  .nav__ul__link:hover {
    background-color: #d6f2fbb5;
    transform: scale(1.05);
  }
  .nav__ul__link:hover .fas {
    color: #9356DC;
  }
  .nav__ul__link--a {
    text-decoration: none;
  }
  .nav__ul__link--a > .fas {
    margin-left: 5px;
    font-size: 20px;
    color: #d8d5d5;
  }
  .nav__ul__link--a--span {
    margin-left: -13%;
    border: 1px solid #9356DC;
    border-radius: 50%;
    padding: 0 6px;
    color: #fff;
    font-size: 20px;
    background-color: #9356DC;
  }
  .nav__ul__link--a--span__strong {
    margin-left: 2%;
    color: #000;
    font-size: 20px;
    font-weight: 900;
  }
}
@media (max-width: 599px) {
  .nav {
    width: auto;
    margin: auto;
  }
  .nav__h3 {
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  .nav__ul {
    width: 100%;
    padding: 0px;
    display: inline-block;
    list-style: none;
    margin-top: 20px;
    background-color: #fff;
  }
  .nav__ul__link {
    border: 1px solid #f2f2f2;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 15px;
    margin: auto;
    margin-bottom: 25px;
    width: 80%;
    background-color: #f2f2f2;
    transform: scale(1);
    transition: transform 400ms ease-in-out;
  }
  .nav__ul__link:hover {
    background-color: #d6f2fbb5;
    transform: scale(1.05);
  }
  .nav__ul__link:hover .fas {
    color: #9356DC;
  }
  .nav__ul__link--a {
    text-decoration: none;
  }
  .nav__ul__link--a > .fas {
    margin-left: 30px;
    font-size: 20px;
    color: #d8d5d5;
  }
  .nav__ul__link--a--span {
    margin-left: -6%;
    border: 1px solid #9356DC;
    border-radius: 50%;
    padding: 0 6px;
    color: #fff;
    font-size: 20px;
    background-color: #9356DC;
  }
  .nav__ul__link--a--span__strong {
    margin-left: 16%;
    color: #000;
    font-size: 15px;
    font-size: 900;
  }
}

.chargament {
  width: 90%;
  height: 100%;
  display: flex;
  position: static;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0.1rem;
  animation: chargament 3000ms 250ms both cubic-bezier(0.9, 0, 0.1, 1);
  position: absolute;
  transform: scaleX(1);
  transform-origin: top;
  top: 0;
  left: 17px;
  right: 0;
  bottom: 0;
}
.chargament__img {
  width: 40%;
  object-fit: cover;
}
.chargament > .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.chargament > .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: linear-gradient(#FF79DA, #9356DC 90%);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.chargament > .lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.chargament > .lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.chargament > .lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.chargament > .lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

section {
  background-color: #f2f2f2;
}
section .container {
  padding: 10px;
  padding-bottom: 30px;
  width: 1200px;
  margin: auto;
}
@media (max-width: 599px) {
  section .container {
    width: auto;
    margin: auto;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  section .container {
    width: auto;
    margin: auto;
  }
}
section .container__heading {
  font-size: 40px;
  font-family: "Roboto";
  color: #000;
  margin-bottom: 15px;
  margin-left: 11px;
}
@media (max-width: 599px) {
  section .container__heading {
    font-size: 25px;
  }
}
section .container .block-1 {
  display: flex;
  width: 100%;
}
@media (max-width: 599px) {
  section .container .block-1 {
    display: inline-block;
    width: 100%;
  }
}
section .container .block-2 {
  display: flex;
  width: 100%;
}
@media (max-width: 599px) {
  section .container .block-2 {
    display: inline-block;
    width: 100%;
  }
}
section .container .proj-prev {
  width: 40%;
  margin: auto;
  margin-bottom: 40px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 25px 25px;
  background-color: #fff;
  transform: scale(1);
  transition: transform 400ms ease-in-out;
}
section .container .proj-prev:hover {
  transform: scale(1.05);
}
section .container .proj-prev__a {
  text-decoration: none;
}
section .container .proj-prev__img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 25px 25px 0px 0px;
}
section .container .proj-prev__txt {
  width: 90%;
  height: 60px;
  margin: 10px;
  margin-left: 20px;
  color: #000;
}
section .container .proj-prev__txt .p {
  margin-top: -10px;
}
section .container .proj-prev__txt .heart {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
section .container .proj-prev__txt .fa-heart {
  font-size: 30px;
  margin: 0;
  margin-top: -10px;
  font-weight: 400;
}
section .container .proj-prev__txt .fa-heart:hover {
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
}
@media (max-width: 599px) {
  section .container .proj-prev {
    width: 95%;
    height: 210px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 25px 25px;
    background-color: #fff;
    transform: scale(1);
    transition: transform 400ms ease-in-out;
  }
  section .container .proj-prev:hover {
    transform: scale(1.05);
  }
  section .container .proj-prev__a {
    text-decoration: none;
  }
  section .container .proj-prev__img {
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 25px 25px 0px 0px;
  }
  section .container .proj-prev__txt {
    width: 90%;
    height: 60px;
    margin: 10px;
    margin-left: 20px;
    color: #000;
  }
  section .container .proj-prev__txt .p {
    margin-top: -10px;
  }
  section .container .proj-prev__txt .heart {
    width: 100%;
    justify-content: flex-end;
    display: flex;
  }
  section .container .proj-prev__txt .fa-heart {
    font-size: 25px;
    margin: 0;
    margin-top: -10px;
    font-weight: 400;
  }
  section .container .proj-prev__txt .fa-heart:hover {
    font-weight: 900;
    background-clip: text;
    background-image: linear-gradient(#9356DC, #FF79DA);
    -webkit-text-fill-color: transparent;
  }
}

section {
  background-color: #f2f2f2;
}
section .section {
  padding-bottom: 70px;
  width: 1200px;
  margin: auto;
}
@media (min-width: 600px) and (max-width: 1199px) {
  section .section {
    width: auto;
    margin: auto;
  }
}
@media (max-width: 599px) {
  section .section {
    width: auto;
    margin: auto;
  }
}
section .section__heading {
  margin-left: 50px;
  border-bottom: 2px solid #99E2D0;
  width: 5%;
  display: flex;
  font-size: 30px;
}
section .section__list {
  padding: 0px;
}
section .section__list__link {
  background-color: #fff;
  width: 50%;
  height: 70px;
  margin: auto;
  display: inherit;
  border-radius: 15px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  padding: 0px;
  overflow: hidden;
}
section .section__list__link--span {
  display: flex;
  justify-content: flex-end;
  font-weight: 900;
  margin-right: 10px;
}
section .section__list__link--span > .hover {
  margin-top: -36px;
}
section .section__list__link--span > .hover .fa-check-circle {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 900;
  display: none;
}
section .section__list__link .animation {
  display: flex;
  justify-content: flex-end;
  margin-top: -18px;
}
section .section__list__link .animation .hover {
  position: relative;
  right: -25px;
}
section .section__list__link:hover .container-txt > p {
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}
section .section__list__link:hover .section__list__link-type {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}
section .section__list__link:hover .section__list__link--span {
  transition: 0.3s linear;
  margin-right: 26%;
}
section .section__list__link:hover .hover {
  width: 30%;
  height: 75px;
  margin-right: -13px;
  margin-left: 0px;
  margin-top: -46px;
  display: flex;
  justify-content: center;
  animation: list_hover-out 1 0.3s cubic-bezier(0.75, 0.54, 0.03, 1);
  background-color: #99E2D0;
  border-radius: 0px 20px 20px 0px;
}
section .section__list__link:hover .hover .fa-check-circle {
  animation: spin 1 500ms 0ms ease-in-out;
  margin-top: 18px;
  margin-left: -22px;
  font-size: 44px;
  color: #fff;
  font-weight: 900;
  display: block;
  height: min-content;
}
section .section__list__link:nth-child(1) {
  animation: progress-bar 1 1000ms linear;
  transform-origin: bottom;
}
section .section__list__link:nth-child(2) {
  animation: progress-bar 1 1500ms linear;
  transform-origin: bottom;
}
section .section__list__link:nth-child(3) {
  animation: progress-bar 1 2000ms linear;
  transform-origin: bottom;
}
section .section__list__link:nth-child(4) {
  animation: progress-bar 1 3000ms linear;
  transform-origin: bottom;
}
section .section__list__link:nth-child(5) {
  animation: progress-bar 1 4000ms linear;
  transform-origin: bottom;
}
section .section__list__link > a {
  text-decoration: none;
  color: #000;
}
section .section__list__link .container-txt {
  padding: 5px;
  width: 100%;
  cursor: pointer;
}
section .section__list__link .container-txt-type {
  margin: 0px;
  margin-bottom: 5px;
  padding-left: 0.3rem;
  font-size: 20px;
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
section .section__list__link .container-txt-Over {
  display: flex;
  justify-content: space-between;
}
section .section__list__link .container-txt-Over > p {
  margin: 0px;
  padding-left: 0.3rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 70%;
}
@media (min-width: 600px) and (max-width: 1199px) {
  section .section__heading {
    margin-left: 35px;
    border-bottom: 2px solid #99E2D0;
    width: 5%;
    display: flex;
    font-size: 30px;
  }
  section .section__list {
    padding: 0px;
  }
  section .section__list__link {
    background-color: #fff;
    width: 50%;
    height: 70px;
    margin: auto;
    display: inherit;
    border-radius: 15px;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 0px;
  }
  section .section__list__link--span {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    margin-top: 0px;
    padding-right: 20px;
    margin-right: 10px;
  }
  section .section__list__link .animation {
    display: flex;
    justify-content: flex-end;
    margin-top: -18px;
  }
  section .section__list__link .animation .hover {
    position: relative;
    right: -25px;
    margin-top: -45px;
  }
  section .section__list__link:hover .container-txt > p {
    transform: 3s;
    transform-origin: right;
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 62%;
  }
  section .section__list__link:hover .section__list__link-type {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 62%;
  }
  section .section__list__link:hover .section__list__link-type--span {
    transition: 0.3s;
    transition-delay: 0s;
    margin-right: 23%;
  }
  section .section__list__link:hover .hover {
    width: 30%;
    height: 70px;
    margin-right: -13px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    animation: list_hover-out 1 0.3s cubic-bezier(0.75, 0.54, 0.03, 1);
    background-color: #99E2D0;
    border-radius: 0px 20px 20px 0px;
  }
  section .section__list__link:hover .hover .fa-check-circle {
    animation: spin 1 500ms 0ms linear;
    margin-top: 22px;
    font-size: 30px;
    color: #fff;
    font-weight: 900;
    display: block;
    height: min-content;
  }
  section .section__list__link:nth-child(1) {
    animation: progress-bar 1 1000ms linear;
    transform-origin: bottom;
  }
  section .section__list__link:nth-child(2) {
    animation: progress-bar 1 1500ms linear;
    transform-origin: bottom;
  }
  section .section__list__link:nth-child(3) {
    animation: progress-bar 1 2000ms linear;
    transform-origin: bottom;
  }
  section .section__list__link:nth-child(4) {
    animation: progress-bar 1 3000ms linear;
    transform-origin: bottom;
  }
  section .section__list__link:nth-child(5) {
    animation: progress-bar 1 4000ms linear;
    transform-origin: bottom;
  }
  section .section__list__link > a {
    text-decoration: none;
    color: #000;
  }
  section .section__list__link .container-txt-type {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  section .section__list__link .container-txt-Over {
    display: flex;
    justify-content: space-between;
  }
  section .section__list__link .container-txt-Over > p {
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
  }
}
@media (max-width: 599px) {
  section .section__heading {
    margin-left: 10px;
    padding-top: 25px;
    border-bottom: 2px solid #99E2D0;
    width: 9%;
    font-size: 15px;
  }
  section .section__list {
    padding: 0px;
  }
  section .section__list__link {
    background-color: #fff;
    width: 90%;
    margin: auto;
    display: inherit;
    border-radius: 15px;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    padding: 0px;
    margin-bottom: 20px;
    height: 60px;
    max-width: 100%;
    overflow: hidden;
  }
  section .section__list__link--span {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;
    margin-top: -24px;
  }
  section .section__list__link .animation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  section .section__list__link .animation > .hover {
    position: relative;
    right: -25px;
    margin-top: -40px;
  }
  section .section__list__link:hover .section__list__link--span {
    transition: 0.3s linear;
    margin-right: 20%;
  }
  section .section__list__link:hover .animation .hover {
    width: 30%;
    height: 60px;
    margin-right: -15px;
    margin-left: 0px;
    animation: list_hover-out 1 0.3s cubic-bezier(0.75, 0.54, 0.03, 1);
    background-color: #99E2D0;
    border-radius: 0px 20px 20px 0px;
  }
  section .section__list__link:hover .animation .hover .fa-check-circle {
    animation: spin 1 500ms ease-in-out;
    margin-top: 18px;
    margin-right: 15px;
    font-size: 30px;
    color: #fff;
    font-weight: 900;
    display: block;
    height: min-content;
  }
  section .section__list__link:nth-child(2) {
    animation: progress-bar 1 1500ms linear;
    transform-origin: bottom;
  }
  section .section__list__link:nth-child(3) {
    animation: progress-bar 1 2000ms linear;
    transform-origin: bottom;
  }
  section .section__list__link:nth-child(4) {
    animation: progress-bar 1 3000ms linear;
    transform-origin: bottom;
  }
  section .section__list__link:nth-child(5) {
    animation: progress-bar 1 4000ms linear;
    transform-origin: bottom;
  }
  section .section__list__link > a {
    text-decoration: none;
    color: #000;
  }
  section .section__list__link .container-txt {
    padding: 6px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  section .section__list__link .container-txt-type {
    margin: 0px;
    margin-top: 5px;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  section .section__list__link .container-txt-Over {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }
  section .section__list__link .container-txt-Over > p {
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
  }
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50px;
  background: #97939740;
  box-shadow: inset 0px 3px 2px #1312123d;
}
.form .nav_search {
  border: 0px;
  background: #fdfdfd00;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 900;
}
.form .fa-map-marker-alt {
  margin-top: 15px;
  margin-left: 30px;
}
@media (max-width: 599px) {
  .form {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
    background: #97939740;
    box-shadow: inset 0px 3px 2px #1312123d;
  }
  .form .nav_search {
    border: 0px;
    background: #fdfdfd00;
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 900;
    margin-right: -50px;
  }
  .form .fa-map-marker-alt {
    margin-top: 12px;
    margin-left: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
