.header--nav__btn-explorer{
     
    @media (max-width:599px){
       @include button-1;
        &:hover{
            transform: scale(1.05);
        }
        >a{
            color: white;
            text-decoration: none;
            font-family: $font-primary;
        }
        }
    }
.proj-prev__btn-vert{
    @media (max-width:599px){
    @include btn-vert;
    
    }
}
.section__btn-commander{
    @media (max-width:599px){
        @include button-1;
        &:hover{
            transform: scale(1.05);
        }
        > a{
            color: $color-white;
            text-decoration: none;
            font-family: $font-primary;
        }
    }
}