.header{
    font-family: $font-primary;
    @media (max-width:599px){
        margin: auto;
        &--nav{
        width: 100%;
        height: 150px; 
        margin-left: auto;
        background-color: $color-background;
        
        &__p{
            display: flex;
            justify-content: center;
            text-align: center;
        }
        &__heading{

        margin: auto;
        display: flex;
        justify-content: center;
        }

        }
        &__logo{
            width: 100%;
            height: 30%;
            margin: 0 auto;
            >a{
                .fa-arrow-left{
                    font-size: 20px;
                }
             }
            &__img{
                width: 50%;
                height: 30px;
                margin: auto;
            }
           
        } 

    }
   
  } 
  .header{
        @media (max-width: 599px) {
        &__logo{
            display: flex;
        }
        &_img{
            width: 100%;
            margin: auto;
            &_heading{
                font-family: $font-heading;
                font-size: $font-size-heading;
                display: flex;
                justify-content: space-around;
                width: 96.5%;
                height: 54px;
                position: absolute;
                margin-top: -50px;
                padding-top: 16px;
                background-color: $color-background;
                border-radius: 36px 36px 0px 0px;
                >.fa-heart{
                    font-weight: 400;
                    &:hover{
                        font-weight: 900;
                        color: $color-primary;
                    }
                }
            }
        }
        &--img{
            width: 100%;
            height: 300px;
        }
       
        
    }
    
    }
