.nav{

    @media (max-width: 599px) {
    &__ul{
       width: 100%;
        &__link{
        margin: auto;
        width: 50%;
         border: 1px solid $color-black;
         padding: auto;
        }
    }
  }
}