.header--nav__btn-explorer{
     
    @media (max-width:599px){
        border: 1px solid white;
        width: 50%;
        margin:  auto;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        padding: 10px;
        background: linear-gradient($color-secondary, $color-primary 90%);
        transform: scale(1);
        transition: transform 400ms;
        &:hover{
            transform: scale(1.05);
        }
        >a{
            color: white;
            text-decoration: none;
            font-family: $font-primary;
        }
        }
    }
.proj-prev__btn-vert{
    @media (max-width:599px){
    border: 1px solid black ;
    width: 20%;
    margin:10px;
    margin-left: 200px;
    display: flex;
    position: absolute;
    background-color: $color-tertiary;
    justify-content:center;
    color: $color-tertiary 20%;
    
    }
}
.section__btn-commander{
    @media (max-width:599px){
        border: 1px solid white ;
        width: 50%;
        margin:  auto;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        padding: 10px;
        background: linear-gradient($color-secondary , $color-primary 90%);
        > a{
            color: $color-white;
            text-decoration: none;
            font-family: $font-primary;
        }
    }
}