.header--nav__btn-explorer{
    font-family: $font-primary ;
    @media (max-width:599px){
        border: 1px solid ;
       width: 50%;
       margin:  auto;
       display: flex;
       justify-content: center;
        }
    }