
@font-face{
    font-family:"Roboto";
    src:url(/font/Roboto-Black.ttf);
    font-family: 'Shrikhand';
    src: url(/font/Shrikhand-Regular.ttf); 
}


$color-primary:#9356DC;
$color-secondary: #FF79DA ;
$color-tertiary:#99E2D0;
$color-white:#fff;
$color-black:#000;
$color-background: #f2f2f2;
$font-primary:'Roboto';
$font-heading: 'Shrikhand';
$font-size: 15px;
$font-size2:13px;
$font-size3:20px;
$font-size-heading: 25px;
$font-size-1200px: 30px;
$font-size-heading-1200px:40px;
$size: 25px;
$bar-dur: 4500ms;
$bar-delay: 250ms;
$block-pages: $bar-dur+$bar-delay*2;
